.form-container {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: auto;
}

.title{
  margin: 20px;
  text-align: center;
  font-size: 30px;

}

.container {
  width: 100%;
}

mat-form-field {
  font-size: 15px;
  width: 100%;
  background-color: transparent;
}

mat-select {
  position: relative;
}
